:root {
  --theme: light; /* Default theme is light */
  --primary: #0045CE;
  --primary-light: #49A3F1;

  --success: #00AC4F;
  --success-light: #DCF5E8;

  --error: #D00049;
  --error-light: #FFE0E3;

  --warning: #D29302;
  --warning-light: #FCE6B3;


  --absolute-white: #FFFFFF;


  /* --pripary-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */

  /* --gray-50: #F9FBFF;
  --gray-100: #F0F5F8;
  --gray-200: #EAECF0;
  --gray-300: #D0D5DD;
  --gray-400: #B5B7C0;
  --gray-500: #737791;
  --gray-600: #5F6980;
  --gray-700: #404B52;
  --gray-800: #282828;
  --gray-900: #000000; */

  /* --white: #FFFFFF; */

  --primary-gradient: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));

  /* --pripary-box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.06); */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--gray-900);
  line-height: 1.5;
  background-color: var(--theme-background-color);
}

button {
  font-family: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Define theme-specific styles */
body[data-theme="light"] {
  --theme-background-color: #ffffff; /* Light theme background color */
  --theme-text-color: #213547; /* Light theme text color */
  --white: #FFFFFF;
  --gray-50: #F9FBFF;
  --gray-100: #F0F5F8;
  --gray-200: #EAECF0;
  --gray-300: #D0D5DD;
  --gray-400: #B5B7C0;
  --gray-500: #737791;
  --gray-600: #5F6980;
  --gray-700: #404B52;
  --gray-800: #282828;
  --gray-900: #000000;
  /* --pripary-box-shadow: 1px 1px 12px 1px #000000; */

  --pripary-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

body[data-theme="dark"] {
  --theme-background-color: #242424; /* Dark theme background color */
  --theme-text-color: #ffffff; /* Dark theme text color */
  --white: #1F283E;
  --gray-900: #F9FBFF;    
  --gray-800: #F0F5F8;    
  --gray-700: #EAECF0;    
  --gray-600: #D0D5DD;    
  --gray-500: #B5B7C0;    
  --gray-400: #737791;    
  --gray-300: #5F6980;    
  --gray-200: #404B52;    
  --gray-100: #282828;    
  --gray-50: #1A2035;     
  /* --pripary-box-shadow: 1px 1px 12px 1px #ffffff; */

  --pripary-box-shadow: rgba(149, 157, 165, 0) 0px 8px 24px;
}


/* Add a button or other element to trigger theme switching */
/* <button id="theme-toggle">Toggle Theme</button> */

/* Add JavaScript to handle theme switching */
/* <script>
  const themeToggle = document.getElementById('theme-toggle');
  const body = document.body;

  themeToggle.addEventListener('click', () => {
    const currentTheme = body.dataset.theme;
    const newTheme = currentTheme === 'light' ? 'dark' : 'light';
    body.dataset.theme = newTheme;
  });
</script> */
